.editor {
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1;
}

.image {
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100%;

  flex: 1;
}
