.scrollbox {
  position: absolute;

  background-color: #ccccc6;
  opacity: 0.4;
  border-style: dashed;
  border-width: 2px;
  box-sizing: border-box;

  cursor: grab;
}

.scrollbox:active {
  cursor: grabbing;
}
