.container {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: rgb(242, 242, 242);
  padding: 0.2rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;

  text-align: right;
}

.viewer {
  background-repeat: no-repeat;
  background-position: center;

  overflow: hidden;
  position: relative;

  cursor: crosshair;

  flex: 1;
}

.box {
  position: absolute;

  background-color: #edeb66;
  opacity: 0.4;
}

.select {
  position: absolute;

  background-color: #ccccc6;
  opacity: 0.4;
  border-width: 2px;
  border-style: dashed;
  box-sizing: border-box;
}
