.container {
  display: flex;
  flex-direction: column;
}

.viewer {
  background-repeat: no-repeat;
  background-position: center;

  overflow: hidden;
  position: relative;

  flex: 1;
}

.draw {
  cursor: crosshair;
}

.box {
  position: absolute;

  background-color: #59580b;
  opacity: 0.2;

  border-color: rgba(0, 0, 0, 1);
  border-style: dotted;
  border-width: 2px;
  box-sizing: border-box;
}

.selectBox {
  cursor: pointer;
}

.selectBox:hover {
  background-color: #5bc8dc;
}

.selectBox:active {
  background-color: #edeb66;
  opacity: 0.4;

  border-color: rgba(0, 0, 0, 0.5);
}

.active {
  background-color: #edeb66;
  opacity: 0.4;

  border-color: rgba(0, 0, 0, 0.5);
}

.select {
  position: absolute;

  background-color: #ccccc6;
  opacity: 0.4;
  border-width: 2px;
  border-style: dashed;
  box-sizing: border-box;
}

.header {
  background-color: rgb(242, 242, 242);
  padding: 0.2rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  padding-right: 0.3rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 0.2rem;
}

.selector {
  cursor: pointer;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.disabledSelector {
  color: #ababab;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.selector:hover {
  background-color: #5bc8dc;
}

.selector:active {
  background-color: #c4c4c4;
}

.activeSelector {
  background-color: #c4c4c4;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.icon {
  height: 100%;
}
