.viewer {
  background-repeat: no-repeat;
  background-position: center;

  overflow: hidden;
  position: relative;

  cursor: crosshair;
}

.box {
  position: absolute;

  background-color: #edeb66;
  opacity: 0.4;
}

.select {
  position: absolute;

  background-color: #ccccc6;
  opacity: 0.4;
  border-width: 2px;
  border-style: dashed;
  box-sizing: border-box;
}
