.container {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: rgb(242, 242, 242);
  padding: 0.2rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  padding-right: 0.3rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 0.2rem;
}

.navigator {
  position: relative;

  flex: 1;
}

.image {
  position: absolute;
  user-select: none;

  max-width: 100%;
  max-height: 100%;

  left: 0;
  right: 0;
  margin: auto;
}

.selector {
  cursor: pointer;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.disabledSelector {
  color: #ababab;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.selector:hover {
  background-color: #5bc8dc;
}

.selector:active {
  background-color: #c4c4c4;
}

.icon {
  height: 100%;
}
