.xml {
  background-color: rgb(242, 242, 242);
  overflow: scroll;
  white-space: nowrap;
  text-align: left;

  padding: 20px;

  cursor: pointer;
}

.line:hover {
  background-color: #5bc8dc;
}

.active {
  background-color: #edeb66;
}

.bracket {
  color: rgb(0, 0, 255);
}

.element {
  color: rgb(128, 0, 128);
}

.attribute {
  color: rgb(0, 0, 0);
}

.attributeText {
  color: rgb(255, 0, 0);
}
